extends ../layout/base

block content
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      h1
        | <%= _s.classify(name) %>
        small Management
      ol.breadcrumb
        li
          a(href='/')
            i.fa.fa-dashboard
            |  Home
        li
          a(href='/<%= _.toLower(_s.classify(name)) %>') <%= _s.classify(name) %>
        li.active List <%= _s.classify(name) %>
    // Main content
    section.content
      .row
        .col-md-12
          .box
            .box-header.with-border
              h3.box-title List <%= _s.classify(name) %>
            // /.box-header
            .box-body
              table.table.table-bordered.table-hover
                tr
                  th(style='width: 10px') #
                  th
                    input(type='checkbox')
                  <% _.each(attrs, function (attr) { %>th <%= _s.classify(attr.attrName) %>
                  <%})%>
                  th(style='width: 120px') Action
                each post in posts
                  tr
                    td #{post.id}
                    td
                      input(type='checkbox')
                    <% _.each(attrs, function (attr) { %>td #{post.<%= _s.underscored(attr.attrName) %>}
                    <%})%>td
                      a.btn.btn-danger(href='/<%= _.toLower(_s.classify(name)) %>/'+post.id+'/delete')
                        i.fa.fa-trash.trash
                      a.btn.btn-info(href='/<%= _.toLower(_s.classify(name)) %>/'+post.id+'/edit', style='margin-left: 20px;')
                        i.fa.fa-edit.edit

            // /.box-body
            .box-footer.clearfix
              ul.pagination.pagination.no-margin.pull-right
                li
                  a(href='#') &laquo;
                li
                  a(href='#') 1
                li
                  a(href='#') 2
                li
                  a(href='#') 3
                li
                  a(href='#') &raquo;
          // /.box
      // /.row
    // /.content
  // /.content-wrapper
