nb-card {
    transform: translate3d(0, 0, 0);
}

nb-card-header {
    .btn {
        &:first-child {
            margin-left: 0;
        }
        margin-left: 1rem;
    }

    .btn-danger,
    .btn-info,
    .btn-warning {
        float: right;
    }
}

nb-card-body {
    .form-control-label {
        text-align: right;
        margin-top: 1rem;
    }

    .container {
        padding: 0;
    }

    .custom-file-input~.custom-file-label::after {
        content: "参照";
    }

    .input-group.search-icon {
        position: relative;

        .form-control {
            padding-left: 3rem;
        }

        &::before {
            content: '\f2f5';
            font-family: 'Ionicons';
            font-size: 2rem;
            position: absolute;
            z-index: 100;
            left: 1rem;
            top: 0.25rem;
        }
    }

    .pagination {
        text-align: center;
    }

    ngb-pagination {
        margin: 1rem auto;
    }

    table {
        thead {
            tr {
                th::first-child {
                    width: 10px;
                }

                th:last-child {
                    width: 95px;
                    text-align: center;
                }
            }
        }

        a {
            cursor: pointer;
        }

        .fas {
            &.online {
                color: #4cd137;
            }

            &.user {
                color: #487eb0;
            }

            &.trash {
                color: #d63031;
            }

            &.edit {
                color: #fbc531;
            }
            color: #718093;
            margin: 0 0.5rem;
            font-size: 14pt;
        }
    }
}