<nb-card>
    <nb-card-header>
      <button class="btn btn-primary">List <%= _s.classify(name) %></button>
      <button class="btn btn-success" (click)="add<%= _s.classify(name) %>()"><i class="fas fa-plus"></i> Add <%= _s.classify(name) %></button>
      <button class="btn btn-danger" (click)="add<%= _s.classify(name) %>()"><i class="fas fa-trash"></i> Delete</button>
    </nb-card-header>
    <nb-card-body>
        <div class="input-group search-icon">
            <input type="text" class="form-control"
                placeholder="keywords...">
            <span class="input-group-append">
            <button class="btn btn-primary input-group-text">
              Search
            </button>
          </span>
        </div>
        <div class="pagination">
            <ngb-pagination size="lg"
                [collectionSize]="120"
                [(page)]="page"
                [maxSize]="5"
                [boundaryLinks]="true">
            </ngb-pagination>
        </div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th class="hidden">Id</th><% _.each(attrs, function (attr) { %>
                <th<%= _s.classify(attr.attrName) %>
                </th><%})%>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items">
                <td class="hidden">{{item.id}}</td><% _.each(attrs, function (attr) { %>
                <td>{{<%= _s.underscored(attr.attrName) %>}}></td><%})%>
                <td>
                  <button class="btn btn-danger" (click)="deleteUser(user)"> Delete</button>
                  <button class="btn btn-danger" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button>
                </td>
              </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>
